.carousel-container {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 10em;
  max-width: 1024px;
  margin: 2em auto;
  background-color: #313131;
  padding: 1em 1.5em;
  clip-path: polygon(0.7% 1%, 98.3% 0%, 99.1% 98.8%, 1.1% 100%);
}
.carousel-titel {
  font-family: "Questrial";
  color: aliceblue;
  padding: 0.3em 0.5em;
}
.carousel-img {
  margin: 1em auto;
  padding: 1em 3em;
  width: 620px;
  max-height: 620px;

  object-position: bottom;
}
@media (max-width: 768px) {
  .carousel-img {
    width: 300px !important;
    height: 312px !important;
    padding: 0;
  }
}
